Submitted:

<ul>
    <li>Up: {{submission.up}}</li>
    <li>Down: {{submission.down}}</li>
    <li>Left: {{submission.left}}</li>
    <li>right: {{submission.right}}</li>
</ul>

<p>
    <a href="/">Home</a>
</p>
